$call-bg: 'https://cdn.discordapp.com/attachments/738968109288914976/769986893944979496/image0.jpg'; /* Change this to what image you'd like */

.minimum-28Z35l .root-217Brm,
.video--KPXCT .root-217Brm {
    background: url($call-bg) center/100% no-repeat;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0, 0.65);
        backdrop-filter: blur(50px);
    }
}
